.c-button{
  -webkit-appearance: none;
  box-sizing: border-box;
  margin: 0;
  border: 0;
  background-color: transparent;
  color: inherit;
  font-size: inherit;
  text-align: left;
  text-decoration: none;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.c-button:hover{
  color: #fff;
}
.c-button--blue{
  background: $blue_color;
  color: #fff;
  padding: .7rem;
  border-radius: 5px;
  box-shadow: .2rem .2rem .4rem #cad4e2;
}
.c-button--green{
  background: $cv_color;
  color: #fff;
  padding: .7rem;
  border-radius: 5px;
  box-shadow: .2rem .2rem .4rem #cad4e2;
}
.c-button--gray{
  background: $gray_color;
  color: #fff;
  padding: .7rem;
  border-radius: 5px;
  box-shadow: .2rem .2rem .4rem #cad4e2;
}
.c-button--width100{
  width: 100%;
}
.c-button--radius100{
  width: 100%;
  line-height: 2.3rem;
  font-size: 1rem;
  border-radius: 2rem;
  margin-bottom: 1rem;
}