.p-mypage-step-list{
  background: #ffffff;
  border: 1px solid #e1e1e1;
  list-style: none;
  padding: 0;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0.3rem;
}
.p-mypage-step-list__item{
  border-bottom: 1px solid #e1e1e1;
  display: flex;
}
.p-mypage-step-list__item a{
  text-decoration: none;
  display: block;
}
.p-mypage-step-list__title{
  width: 100%;
  color: $font-color_default;
  padding: 1rem 1.5rem;
}
.p-mypage-step-list__button{
  // width: 4.7rem;
  height: 2.8rem;
  font-size: .9rem;
  -webkit-appearance: none;
  box-sizing: border-box;
  margin: .5rem;
  border: 0;
  background: $blue_color;
  color: #fff;
  padding: .7rem;
  border-radius: 5px;
  box-shadow: .2rem .2rem .4rem #cad4e2;
  white-space: nowrap;
  letter-spacing: .2rem;
}
.p-mypage-step-list__button--gray{
  background: $gray_color;
}
.p-mypage-step-list__progress{
  color: $font-color_default;
  padding: 1rem 1.5rem;
  white-space: nowrap;
}