@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  width: 100%;
  font-size: 16px;
  line-height: 150%;
  font-family: "メイリオ", "Meiryo", sans-serif;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

main {
  height: 100%;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  line-height: 150%;
}

h1 {
  font-size: 1.8rem;
}
@media screen and (max-width: 576px) {
  h1 {
    font-size: 1.5rem;
  }
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
@media screen and (max-width: 576px) {
  h2 {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
  }
}

h3 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}
@media screen and (max-width: 576px) {
  h3 {
    font-size: 1.2rem;
  }
}

p, a {
  font-family: "メイリオ", "Meiryo", sans-serif;
}

a,
a:active,
a:focus {
  color: #0981ca;
}

a:hover {
  cursor: pointer;
  text-decoration: none;
  color: initial;
}

ul {
  padding-left: 1.5rem;
}

li {
  line-height: 150%;
}

img {
  width: 100%;
  vertical-align: bottom;
}

label {
  display: block;
  line-height: 2rem;
}

label.err input, label.err select {
  background: #f7dcd9;
}

input[type=text], input[type=email], input[type=password], input[type=number], .form select,
textarea {
  -webkit-appearance: none;
  display: block;
  box-sizing: border-box;
  padding: 10px;
  padding-left: 1.125rem;
  border: 0.0625rem solid #ddd;
  background: #f6f5f5;
  font-size: 0.9rem;
}

input[type=checkbox] {
  width: 18px;
  height: 18px;
  background: #f6f5f5;
  vertical-align: middle;
}

input[type=number] {
  width: 100px;
  text-align: left;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2);
}

.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) / 2);
  padding-left: calc(var(--bs-gutter-x) / 2);
  margin-top: var(--bs-gutter-y);
}

@media (min-width: 768px) {
  .col-md {
    flex: 1 0 0%;
  }

  .row-cols-md-auto > * {
    flex: 0 0 auto;
    width: auto;
  }

  .row-cols-md-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }

  .row-cols-md-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }

  .row-cols-md-3 > * {
    flex: 0 0 auto;
    width: 33.33333%;
  }

  .row-cols-md-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }

  .row-cols-md-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }

  .row-cols-md-6 > * {
    flex: 0 0 auto;
    width: 16.66667%;
  }

  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
  }

  .col-md-1 {
    flex: 0 0 auto;
    width: 8.33333%;
  }

  .col-md-2 {
    flex: 0 0 auto;
    width: 16.66667%;
  }

  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-md-4 {
    flex: 0 0 auto;
    width: 33.33333%;
  }

  .col-md-5 {
    flex: 0 0 auto;
    width: 41.66667%;
  }

  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-md-7 {
    flex: 0 0 auto;
    width: 58.33333%;
  }

  .col-md-8 {
    flex: 0 0 auto;
    width: 66.66667%;
  }

  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-md-10 {
    flex: 0 0 auto;
    width: 83.33333%;
  }

  .col-md-11 {
    flex: 0 0 auto;
    width: 91.66667%;
  }

  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }

  .offset-md-0 {
    margin-left: 0;
  }

  .offset-md-1 {
    margin-left: 8.33333%;
  }

  .offset-md-2 {
    margin-left: 16.66667%;
  }

  .offset-md-3 {
    margin-left: 25%;
  }

  .offset-md-4 {
    margin-left: 33.33333%;
  }

  .offset-md-5 {
    margin-left: 41.66667%;
  }

  .offset-md-6 {
    margin-left: 50%;
  }

  .offset-md-7 {
    margin-left: 58.33333%;
  }

  .offset-md-8 {
    margin-left: 66.66667%;
  }

  .offset-md-9 {
    margin-left: 75%;
  }

  .offset-md-10 {
    margin-left: 83.33333%;
  }

  .offset-md-11 {
    margin-left: 91.66667%;
  }

  .g-md-0,
.gx-md-0 {
    --bs-gutter-x: 0;
  }

  .g-md-0,
.gy-md-0 {
    --bs-gutter-y: 0;
  }

  .g-md-1,
.gx-md-1 {
    --bs-gutter-x: 0.25rem;
  }

  .g-md-1,
.gy-md-1 {
    --bs-gutter-y: 0.25rem;
  }

  .g-md-2,
.gx-md-2 {
    --bs-gutter-x: 0.5rem;
  }

  .g-md-2,
.gy-md-2 {
    --bs-gutter-y: 0.5rem;
  }

  .g-md-3,
.gx-md-3 {
    --bs-gutter-x: 1rem;
  }

  .g-md-3,
.gy-md-3 {
    --bs-gutter-y: 1rem;
  }

  .g-md-4,
.gx-md-4 {
    --bs-gutter-x: 1.5rem;
  }

  .g-md-4,
.gy-md-4 {
    --bs-gutter-y: 1.5rem;
  }

  .g-md-5,
.gx-md-5 {
    --bs-gutter-x: 3rem;
  }

  .g-md-5,
.gy-md-5 {
    --bs-gutter-y: 3rem;
  }
}
.l-all-wrapper {
  background: #edf1f5;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.l-container {
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .l-container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .l-container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .l-container {
    max-width: 960px;
  }
}
.l-content-wrapper {
  padding-top: 1rem;
  padding-bottom: 2rem;
  min-height: 100%;
}

.l-content {
  background: #fff;
  padding: 3rem;
}
@media screen and (max-width: 576px) {
  .l-content {
    padding: 0.7rem;
  }
}

.l-inner-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
}

.l-header {
  line-height: 4rem;
  height: 4rem;
  width: 100%;
  top: 0;
}

.l-header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
}

.l-header--bg-theme {
  background-image: linear-gradient(-20deg, #6e45e2 0%, #88d3ce 100%);
}

.l-header__icon {
  color: #fff;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 900;
  display: block;
  line-height: 4rem;
}
@media screen and (max-width: 576px) {
  .l-header__icon {
    font-size: 1.2rem;
  }
}

.l-header__icon:hover {
  color: #fff;
}

@media screen and (max-width: 576px) {
  .l-nav-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.95);
    width: 100vw;
    height: 100vh;
    z-index: 2;
  }
  .l-nav-menu.js-active {
    display: block;
  }
}

.l-menu {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}
@media screen and (max-width: 576px) {
  .l-menu {
    display: block;
    top: 4rem;
    position: relative;
  }
}
.l-menu__link {
  padding: 0 1rem;
  display: block;
  line-height: 4rem;
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
  transition: all 0.5s;
  text-align: center;
}
@media screen and (max-width: 576px) {
  .l-menu__link {
    color: #4a4a4a;
    font-size: 1rem;
    padding: 0.8rem;
  }
}
.l-menu__link:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
}
@media screen and (max-width: 576px) {
  .l-menu__link:hover {
    color: #4a4a4a;
    background: #eeeeee;
  }
}

.l-menu-trigger {
  display: none;
  box-sizing: border-box;
  position: relative;
  width: 40px;
  height: 32px;
  z-index: 3;
}
@media screen and (max-width: 576px) {
  .l-menu-trigger {
    display: inline-block;
  }
}
.l-menu-trigger span {
  display: inline-block;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #d8d8d8;
  border-radius: 4px;
}
.l-menu-trigger span:nth-of-type(1) {
  top: 0;
}
.l-menu-trigger span:nth-of-type(2) {
  top: 14px;
}
.l-menu-trigger span:nth-of-type(3) {
  bottom: 0;
}
.l-menu-trigger.js-active span:nth-of-type(1) {
  transform: translateY(12px) rotate(-45deg);
}
.l-menu-trigger.js-active span:nth-of-type(2) {
  opacity: 0;
}
.l-menu-trigger.js-active span:nth-of-type(3) {
  transform: translateY(-15px) rotate(45deg);
}

.l-footer-container {
  display: flex;
  justify-content: center;
}

.l-footer {
  padding: 15px;
  width: 100%;
  background: #3e3e3e;
  font-size: 12px;
  text-align: center;
  margin-top: auto;
}
.l-footer ul {
  list-style: none;
  text-align: center;
  margin: 30px 0 10px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}
.l-footer ul li {
  text-align: left;
  float: left;
  padding: 5px 15px;
  display: inline;
}
.l-footer ul li a {
  color: #fff;
  text-decoration: none;
}
.l-footer__copyright {
  color: #8e9398;
}

.c-alert {
  position: relative;
  padding: 1rem;
  margin-bottom: 2rem;
  background: #969696;
  text-align: center;
  color: #ffffff;
}

.c-box {
  border: 1px solid #dee2e6;
  background: #fff;
  padding: 1rem;
  margin-bottom: 2rem;
}
@media screen and (max-width: 576px) {
  .c-box {
    margin-bottom: 2rem;
  }
}
.c-box__title {
  text-align: center;
  font-size: 1.2rem;
}
.c-box__note {
  text-align: center;
  margin-bottom: 0;
}
.c-box__caution {
  margin-bottom: 0;
  text-align: center;
  color: #e94f4f;
}

.c-button {
  -webkit-appearance: none;
  box-sizing: border-box;
  margin: 0;
  border: 0;
  background-color: transparent;
  color: inherit;
  font-size: inherit;
  text-align: left;
  text-decoration: none;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.c-button:hover {
  color: #fff;
}
.c-button--blue {
  background: #0981ca;
  color: #fff;
  padding: 0.7rem;
  border-radius: 5px;
  box-shadow: 0.2rem 0.2rem 0.4rem #cad4e2;
}
.c-button--green {
  background: linear-gradient(-20deg, #0cb699 0%, #8ddad5 100%);
  color: #fff;
  padding: 0.7rem;
  border-radius: 5px;
  box-shadow: 0.2rem 0.2rem 0.4rem #cad4e2;
}
.c-button--gray {
  background: #969696;
  color: #fff;
  padding: 0.7rem;
  border-radius: 5px;
  box-shadow: 0.2rem 0.2rem 0.4rem #cad4e2;
}
.c-button--width100 {
  width: 100%;
}
.c-button--radius100 {
  width: 100%;
  line-height: 2.3rem;
  font-size: 1rem;
  border-radius: 2rem;
  margin-bottom: 1rem;
}

.c-card {
  display: block;
  background: #fff;
  padding: 1rem;
  margin-bottom: 1rem;
}
@media screen and (max-width: 576px) {
  .c-card {
    padding: 0.5rem;
  }
}
.c-card--link {
  height: 100%;
  text-decoration: none;
  color: #4a4a4a;
}
.c-card--shadow {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0.3rem;
}
.c-card__header {
  margin-bottom: 1rem;
}
.c-card__header__item {
  display: block;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
}
@media screen and (max-width: 576px) {
  .c-card__header__item {
    margin-left: 0.5rem;
  }
}
.c-card__title {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}
.c-card__content {
  border: 1px solid #cacaca;
  border-radius: 0.3rem;
  padding: 1rem;
}
.c-card__content__title {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}
.c-card__content__subtitle {
  font-size: 1rem;
}
.c-card__content__p {
  margin-bottom: 0;
}

.c-form {
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  /* width: 400px; */
}
@media screen and (max-width: 576px) {
  .c-form {
    margin-bottom: 2rem;
  }
}
.c-form--small {
  max-width: 25rem;
  padding: 2rem;
}
@media screen and (max-width: 576px) {
  .c-form--small {
    max-width: 25rem;
    padding: 1rem;
  }
}
.c-form__title {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 576px) {
  .c-form__title {
    font-size: 1.2rem;
  }
}
.c-form__field {
  margin-bottom: 2rem;
}
@media screen and (max-width: 576px) {
  .c-form__field {
    margin-bottom: 1.5rem;
  }
}
.c-form__field input[type=text], .c-form__field input[type=email], .c-form__field input[type=password], .c-form__field input[type=number] {
  width: 100%;
  height: 2.5rem;
}
.c-form__field__name {
  margin-bottom: 0.5rem;
  font-weight: bold;
}
.c-form__field--required {
  font-weight: normal;
  color: #e94f4f;
}
.c-form__field--free {
  font-weight: normal;
  color: #37c47d;
}
.c-form__field__textarea {
  width: 100%;
  margin-bottom: 0.5rem;
}
.c-form__field__text-count {
  font-size: 0.8rem;
  color: #969696;
  text-align: right;
}
.c-form__field__icon {
  max-width: 200px;
}
.c-form__message {
  color: #e94f4f;
}
.c-form__child-item {
  margin-bottom: 1.5rem;
}
.c-form__child-item__left {
  width: 40%;
  display: inline-block;
}
.c-form__child-item__right {
  width: 55%;
  display: inline-block;
}
.c-form__child-item__right input[type=text] {
  width: 80%;
  margin: 0;
  display: inline-block;
}
.c-form__child-item-name {
  margin-left: 1.5rem;
  line-height: 2.5rem;
}
@media screen and (max-width: 576px) {
  .c-form__child-item-name {
    margin-left: 0.5rem;
  }
}
.c-form__invalid-feedback {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: #dc3545;
}

.c-selectbox {
  overflow: hidden;
  text-align: left;
  width: 7rem;
  height: 2.7rem;
  line-height: 2.7rem;
  font-size: 0.8rem;
}
.c-selectbox select {
  text-align: center;
  padding-right: 1em;
  cursor: pointer;
  text-indent: 0.01px;
  text-overflow: ellipsis;
  border: none;
  outline: none;
  background: transparent;
  background-image: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  line-height: 1.7rem;
  height: 2.7rem;
}
.c-selectbox select::-ms-expand {
  display: none;
}
.c-selectbox .type01 {
  position: relative;
  border: 1px solid #bbbbbb;
  border-radius: 2px;
  background: #ffffff;
}
.c-selectbox .type01::before {
  position: absolute;
  top: 1.4em;
  right: 0.9em;
  width: 0;
  height: 0;
  padding: 0;
  content: "";
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #666666;
  pointer-events: none;
}
.c-selectbox .type01 select {
  padding: 8px 38px 8px 8px;
  color: #666666;
}

.c-menus-container {
  /* padding: 1rem 1rem 1.5rem; */
  box-sizing: border-box;
}
.c-menus-container h2, .c-menus-container .h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}
.c-menus-container ul {
  border: 1px solid #e1e1e1;
  list-style: none;
  padding: 0;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0.3rem;
}
.c-menus-container ul li {
  border-bottom: 1px solid #e1e1e1;
}
.c-menus-container ul li a {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 1rem 1.5rem;
}

.p-top-wrap {
  width: 100%;
  background-image: linear-gradient(-20deg, #6e45e2 0%, #88d3ce 100%);
  padding-bottom: 2.5rem;
}
@media screen and (max-width: 576px) {
  .p-top-wrap {
    padding-bottom: 1.5rem;
  }
}

.p-top-head {
  margin-top: 3rem;
  margin-left: 2rem;
  color: #fff;
}
@media screen and (max-width: 576px) {
  .p-top-head {
    margin-top: 1.5rem;
    margin-left: 0.3rem;
  }
}
.p-top-head__catch {
  letter-spacing: 4px;
  line-height: 3.2rem;
}
@media screen and (max-width: 576px) {
  .p-top-head__catch {
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
  }
}

.p-top-section {
  margin-bottom: 2rem;
}
.p-top-section__about {
  background: #fff;
  padding: 1.5rem;
  font-size: 1.6rem;
  line-height: 2rem;
}
@media screen and (max-width: 576px) {
  .p-top-section__about {
    padding: 1rem;
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
}
.p-top-section__about p {
  font-size: 1rem;
}
.p-top-section__title {
  font-size: 1.4rem;
  line-height: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}
@media screen and (max-width: 576px) {
  .p-top-section__title {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
}
.p-top-section__image {
  margin-bottom: 1rem;
}
.p-top-section__subtitle {
  display: block;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1.2rem;
}
@media screen and (max-width: 576px) {
  .p-top-section__subtitle {
    font-size: 1.1rem;
  }
}
.p-top-section__login-link {
  color: #969696;
  text-align: center;
  display: block;
}

.p-mypage-step-list {
  background: #ffffff;
  border: 1px solid #e1e1e1;
  list-style: none;
  padding: 0;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0.3rem;
}
.p-mypage-step-list__item {
  border-bottom: 1px solid #e1e1e1;
  display: flex;
}
.p-mypage-step-list__item a {
  text-decoration: none;
  display: block;
}
.p-mypage-step-list__title {
  width: 100%;
  color: #4a4a4a;
  padding: 1rem 1.5rem;
}
.p-mypage-step-list__button {
  height: 2.8rem;
  font-size: 0.9rem;
  -webkit-appearance: none;
  box-sizing: border-box;
  margin: 0.5rem;
  border: 0;
  background: #0981ca;
  color: #fff;
  padding: 0.7rem;
  border-radius: 5px;
  box-shadow: 0.2rem 0.2rem 0.4rem #cad4e2;
  white-space: nowrap;
  letter-spacing: 0.2rem;
}
.p-mypage-step-list__button--gray {
  background: #969696;
}
.p-mypage-step-list__progress {
  color: #4a4a4a;
  padding: 1rem 1.5rem;
  white-space: nowrap;
}

.p-step-content h1 {
  padding: 15px 0;
  font-size: 2rem;
  line-height: 1.6;
}
.p-step-content h2 {
  margin: 2.5em 0 1em;
  font-size: 1.4em;
  line-height: 1.6;
  background: #86BCD2;
  padding: 0.5em;
  color: white;
  border-radius: 0.5em;
}
.p-step-content h3 {
  margin: 1.5em 0 0.7em;
  padding: 10px 0 10px 10px;
  border-color: #86BCD2;
  border-left-width: 4px;
  border-left-style: solid;
  font-size: 1.3em;
  line-height: 1.5;
}
.p-step-content p {
  margin-bottom: 1.5rem;
}

.p-step-list {
  list-style: none;
  padding: 0;
}

.p-child-step-list {
  border: 1px solid #e1e1e1;
  list-style: none;
  padding: 0;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0.3rem;
}
.p-child-step-list__item {
  border-bottom: 1px solid #e1e1e1;
}
.p-child-step-list__item a {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 1rem 1.5rem;
}

.u-vertical-middle {
  vertical-align: middle;
}

.u-natural-shadow {
  /* box-shadow: 4px 4px 8px #cad4e2, -4px -4px 8px #fff; */
  box-shadow: 4px 4px 8px #cad4e2;
  border-radius: 0.5rem;
}

.u-fw-bold {
  font-weight: 700 !important;
}

.u-fs-1 {
  font-size: 1rem;
}

.u-fs-12 {
  font-size: 1.2rem;
}

.u-fs-08 {
  font-size: 0.8rem;
}

.u-w-100 {
  width: 100%;
}

.u-w-75 {
  width: 75%;
}

.u-w-65 {
  width: 65% !important;
}

.u-w-60 {
  width: 60% !important;
}

.u-w-50 {
  width: 50%;
}

.u-w-25 {
  width: 25%;
}

.u-h-2-5 {
  height: 2.5rem !important;
}

.u-lh-2-5 {
  line-height: 2.5rem;
}

.u-float-l {
  float: left;
}

.u-text-center {
  text-align: center;
}

.is-invalid {
  border-color: #e94f4f !important;
}

.u-text-black {
  color: #4a4a4a;
}

.u-text-red {
  color: #e94f4f;
}

.u-text-green {
  color: #37c47d;
}

.u-text-gray {
  color: #969696;
}

.u-bg-red {
  background: #f7dcd9 !important;
}

.u-bg-gray {
  background: #f5f5f5;
}

.u-bg-blue {
  background: #0981ca;
}

.u-bg-white {
  background-color: #fff !important;
}

.u-m-0 {
  margin: 0 !important;
}

.u-m-1 {
  margin: 0.25rem !important;
}

.u-m-2 {
  margin: 0.5rem !important;
}

.u-m-3 {
  margin: 1rem !important;
}

.u-m-4 {
  margin: 1.5rem !important;
}

.u-m-5 {
  margin: 3rem !important;
}

.u-m-auto {
  margin: auto !important;
}

.u-mx-0 {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.u-mx-1 {
  margin-right: 0.25rem !important;
  margin-left: 0.25rem !important;
}

.u-mx-2 {
  margin-right: 0.5rem !important;
  margin-left: 0.5rem !important;
}

.u-mx-3 {
  margin-right: 1rem !important;
  margin-left: 1rem !important;
}

.u-mx-4 {
  margin-right: 1.5rem !important;
  margin-left: 1.5rem !important;
}

.u-mx-5 {
  margin-right: 3rem !important;
  margin-left: 3rem !important;
}

.u-mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

.u-my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.u-my-1 {
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important;
}

.u-my-2 {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.u-my-3 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.u-my-4 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.u-my-5 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

.u-my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.u-mt-0 {
  margin-top: 0 !important;
}

.u-mt-1 {
  margin-top: 0.25rem !important;
}

.u-mt-2 {
  margin-top: 0.5rem !important;
}

.u-mt-3 {
  margin-top: 1rem !important;
}

.u-mt-4 {
  margin-top: 1.5rem !important;
}

.u-mt-5 {
  margin-top: 3rem !important;
}

.u-mt-auto {
  margin-top: auto !important;
}

.u-me-0 {
  margin-right: 0 !important;
}

.u-me-1 {
  margin-right: 0.25rem !important;
}

.u-me-2 {
  margin-right: 0.5rem !important;
}

.u-me-3 {
  margin-right: 1rem !important;
}

.u-me-4 {
  margin-right: 1.5rem !important;
}

.u-me-5 {
  margin-right: 3rem !important;
}

.u-me-auto {
  margin-right: auto !important;
}

.u-mb-0 {
  margin-bottom: 0 !important;
}

.u-mb-1 {
  margin-bottom: 0.25rem !important;
}

.u-mb-2 {
  margin-bottom: 0.5rem !important;
}

.u-mb-3 {
  margin-bottom: 1rem !important;
}

.u-mb-4 {
  margin-bottom: 1.5rem !important;
}

.u-mb-5 {
  margin-bottom: 3rem !important;
}

.u-mb-auto {
  margin-bottom: auto !important;
}

.u-ms-0 {
  margin-left: 0 !important;
}

.u-ms-1 {
  margin-left: 0.25rem !important;
}

.u-ms-2 {
  margin-left: 0.5rem !important;
}

.u-ms-3 {
  margin-left: 1rem !important;
}

.u-ms-4 {
  margin-left: 1.5rem !important;
}

.u-ms-5 {
  margin-left: 3rem !important;
}

.u-ms-auto {
  margin-left: auto !important;
}

.u-mr-2 {
  margin-right: 2rem !important;
}

.u-mr-3 {
  margin-right: 3rem !important;
}

.u-mr-4 {
  margin-right: 4rem !important;
}
