.l-nav-menu {
  @include mq() {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, .95);
    width: 100vw;
    height: 100vh;
    z-index: 2;
    &.js-active {
      display: block;
    }
  }
}
.l-menu {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
  @include mq() {
    display: block;
    top: 4rem;
    position: relative;
  }
}
.l-menu__link{
  padding: 0 1rem;
  display: block;
  line-height: 4rem;
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
  transition: all 0.5s;
  text-align: center;
  @include mq() {
    color: $font-color_default;
    font-size: 1rem;
    padding: 0.8rem;
  }
}
.l-menu__link:hover{
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
  @include mq() {
    color: $font-color_default;
    background: #eeeeee;
  }
}
// ハンバーガーメニュー
.l-menu-trigger {
  display: none;
  @include mq() {
    display: inline-block;
  }
  // transition: all .4s;
  box-sizing: border-box;
  position: relative;
  width: 40px;
  height: 32px;
  z-index: 3;
  span {
    display: inline-block;
    // transition: all .4s;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #d8d8d8;
    border-radius: 4px;
    &:nth-of-type(1) {
      top: 0;
    }
    &:nth-of-type(2) {
      top: 14px;
    }
    &:nth-of-type(3) {
      bottom: 0;
    }
  }
  &.js-active span {
    &:nth-of-type(1) {
      transform: translateY(12px) rotate(-45deg);
    }
    &:nth-of-type(2) {
      opacity: 0;
    }
    &:nth-of-type(3) {
      transform: translateY(-15px) rotate(45deg);
    }
  }
}