.u-text-black{
  color: $font-color_default;
}
.u-text-red{
  color: $red_color;
}
.u-text-green{
  color: #37c47d;
}
.u-text-gray{
  color: $gray_color;
}
.u-bg-red{
  background: #f7dcd9 !important;
}
.u-bg-gray{
  background: #f5f5f5;
}
.u-bg-blue{
  background:  $blue_color;
}
.u-bg-white {
  background-color: #fff !important; }