.u-m-0{
  margin: 0 !important;
}
.u-m-1{
  margin: 0.25rem !important;
}
.u-m-2{
  margin: 0.5rem !important;
}
.u-m-3{
  margin: 1rem !important;
}
.u-m-4{
  margin: 1.5rem !important;
}
.u-m-5{
  margin: 3rem !important;
}
.u-m-auto{
  margin: auto !important;
}
.u-mx-0{
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.u-mx-1{
  margin-right: 0.25rem !important;
  margin-left: 0.25rem !important;
}
.u-mx-2{
  margin-right: 0.5rem !important;
  margin-left: 0.5rem !important;
}
.u-mx-3{
  margin-right: 1rem !important;
  margin-left: 1rem !important;
}
.u-mx-4{
  margin-right: 1.5rem !important;
  margin-left: 1.5rem !important;
}
.u-mx-5{
  margin-right: 3rem !important;
  margin-left: 3rem !important;
}
.u-mx-auto{
  margin-right: auto !important;
  margin-left: auto !important;
}
.u-my-0{
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.u-my-1{
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important;
}
.u-my-2{
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}
.u-my-3{
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}
.u-my-4{
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}
.u-my-5{
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}
.u-my-auto{
  margin-top: auto !important;
  margin-bottom: auto !important;
}
.u-mt-0{
  margin-top: 0 !important;
}
.u-mt-1{
  margin-top: 0.25rem !important;
}
.u-mt-2{
  margin-top: 0.5rem !important;
}
.u-mt-3{
  margin-top: 1rem !important;
}
.u-mt-4{
  margin-top: 1.5rem !important;
}
.u-mt-5{
  margin-top: 3rem !important;
}
.u-mt-auto{
  margin-top: auto !important;
}
.u-me-0{
  margin-right: 0 !important;
}
.u-me-1{
  margin-right: 0.25rem !important;
}
.u-me-2{
  margin-right: 0.5rem !important;
}
.u-me-3{
  margin-right: 1rem !important;
}
.u-me-4{
  margin-right: 1.5rem !important;
}
.u-me-5{
  margin-right: 3rem !important;
}
.u-me-auto{
  margin-right: auto !important;
}
.u-mb-0{
  margin-bottom: 0 !important;
}
.u-mb-1{
  margin-bottom: 0.25rem !important;
}
.u-mb-2{
  margin-bottom: 0.5rem !important;
}
.u-mb-3{
  margin-bottom: 1rem !important;
}
.u-mb-4{
  margin-bottom: 1.5rem !important;
}
.u-mb-5{
  margin-bottom: 3rem !important;
}
.u-mb-auto{
  margin-bottom: auto !important;
}
.u-ms-0{
  margin-left: 0 !important;
}
.u-ms-1{
  margin-left: 0.25rem !important;
}
.u-ms-2{
  margin-left: 0.5rem !important;
}
.u-ms-3{
  margin-left: 1rem !important;
}
.u-ms-4{
  margin-left: 1.5rem !important;
}
.u-ms-5{
  margin-left: 3rem !important;
}
.u-ms-auto{
  margin-left: auto !important;
}
.u-mr-2{
  margin-right: 2rem !important;
}
.u-mr-3{
  margin-right: 3rem !important;
}
.u-mr-4{
  margin-right: 4rem !important;
}