.u-vertical-middle{
  vertical-align: middle;
}
.u-natural-shadow{
  /* box-shadow: 4px 4px 8px #cad4e2, -4px -4px 8px #fff; */
  box-shadow: 4px 4px 8px #cad4e2;
  border-radius: .5rem;
}
.u-fw-bold {
  font-weight: 700 !important; }
.u-fs-1{
  font-size: 1rem;
}
.u-fs-12{
  font-size: 1.2rem;
}
.u-fs-08{
  font-size: .8rem;
}
.u-w-100{
  width: 100%;
}
.u-w-75{
  width: 75%;
}
.u-w-65{
  width: 65% !important;
}
.u-w-60{
  width: 60% !important;
}
.u-w-50{
  width: 50%;
}
.u-w-25{
  width: 25%;
}
.u-h-2-5{
  height: 2.5rem !important;
}
.u-lh-2-5{
  line-height: 2.5rem;
}
.u-float-l{
  float: left;
}
.u-text-center{
  text-align: center;
}